<!DOCTYPE html>
<html>
  <head>
    <title>BreadcrumbsSessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @breadcrumbs && @breadcrumbs.any? %>
      <h3>Surf History</h3>
      <ul>
        <% @breadcrumbs[0..2].each do |breadcrumbs|%>
          <li><%= link_to breadcrumbs, breadcrumbs%></%=>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
